/*global settings*/
:root
{
 
    
    /*Universal sizing*/
    
    
    /*No horizontal overflow*/
    overflow-x: hidden;
    
    /*resets*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%; /* 16px * 0.625 = 10px*/
    
    /*Theme settings */

    /*colour palettes*/
    --brand-main: #f7eee9;
    --brand-accent: #070504;
    --border: 1%;
    --maxW: 600px; /*max width threshold for device responsiveness*/
    --padding: 2rem;
    background-color: var(--brand-main);
    font-family: 'Lora', serif;
}

/*sticky class for site header*/
.sticky
{
    position: fixed;
    top: 0;
    width: 100%;   
}
    
.intro
{
    padding-top: 2rem;
}
    
    .sticky + .intro 
{
    padding-top: 15rem;
}

.responsive
{
    width: 33vw;
    height: 33vw;
    
}

@media screen and (max-width: var(--maxW)){
    .responsive{
        width: 33vh;
        height: 33vh;
    }
}

.heading
{
    font-size: 2rem;
}

.flex
{
    display: flex;
    flex-wrap: wrap;
}

.justify-content
{
    justify-content: center;
}

.center
{
margin: auto;
}

.font-dancing
{
font-family: 'Dancing Script', cursive;
}

.z-top
{
    z-index: 99;
}

.width-100
{
    width:100%;
}

.background
{
    background-color: var(--brand-main);
}

.fit-fill
{
    object-fit: fill;
}

fit-cover
{
    object-fit: cover;
}

.font-normal
{
font-size: 1.6rem;
}

font-lighter
{
font-weight: lighter;


}

.content-align
{
    align-items: center;
}

.text-align-center
{
    text-align: center;
}

.text-decor-none
{
    text-decoration: none;
}

.text-color-black
{
    color: #070504;
}

.padded{
padding-left: var(--padding);
}