:root{
/*colour palettes*/
--brand-main: #f7eee9;
--brand-accent: #9b8172;
--border: 1%;
font-family: 'Lora', serif;

overflow-x: hidden;
width: 80vw;
}

.sticky{

    position: fixed;
    top: 0;
    width: 100%;
    
}

.intro{

    padding-top: 4em;
}

.sticky + .intro {
    padding-top:50vh;
  }

 @media screen and (max-width:600px){
    
    p{
        font-size: 0.75em;
    }

    h2{
        font-size: 1em;
    }
}

header{
    
    display: flex;
    
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    top: 0;
    background-color: var(--brand-main);
    z-index: 3;
    
}
   /* max-width: 100vw;*/

.contact-block{
    display: flex;
    
 
            }

.contact{
display: flex;
flex-wrap: wrap;
padding: 20px;

}

.background{
    background-color: var(--brand-accent);
    border-radius: var(--border);

}

a{

    text-decoration: none;
    color: black;

}

.logo{
    
    height: 33vw;
    width: 33vw;
    max-width: 100vw;
    
    }


body {
    
    margin: auto;
    width: 100vw;
    background-color: var(--brand-main);
    max-width: 100vw;
}

h4{
    display:inline;
    margin-right: 1em;
    max-width: 100vw;
}


p.blurb{
    opacity: 90%;
    font-family: 'Lora', serif;
    font-weight: lighter;
    background-color: var(--brand-accent);
    border-radius: var(--border);
    margin: auto;
    width: 80%;
    padding: 2vw;
    color: var(--brand-main);
    max-width: 100vw;
}


h2{

    font-style: italic;
   
    
    width: 75%;
    margin: auto;
    padding-bottom: 5%;
    opacity: 90%;
    
 }

 .flex{
display:flex;
flex-wrap: wrap;

 }

 .aligned{
    align-items: center;
    justify-content: center;

 }

 .centered{

    margin: auto;
    width: 50%;
 }

 .block{

    display: inline-block;
 }


 .gallery{
   
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 2vh;
    border-radius: var(--border);
    margin: 5% auto 5% auto;
    
    width: 80%;
    
 }

 .gallery-item{
width: 33vh;
height: 33vh;
border-radius: var(--border);
padding: 1px;
object-fit: fill;
 }


 @media screen and (max-width:900px){
    .gallery-item{
   /* width: 140px;
    height: 140px;*/
    width: 25vw;
    height: 25vw;
    
    
   
}
 }
 
 footer{
display: flex;
align-items: center;
justify-content: center;
margin-top: 5vh;
padding-bottom: 5vh;
max-width: 100vw;
flex-wrap: wrap;
 }
 
 @media screen and (max-width:300px){
   i{
    
    padding-top: 20%;

   }
}

.slides{
object-fit: fill;
width: 33vh;
height: 33vh;
border-radius: var(--border);
display: block;

@media screen and (max-width:900px){
    .slides{
     
    width: 25vw;
    height: 25vw;
 
    }
 }



padding: 5vh;
}
.font-dancing{
font-family: 'Dancing Script', cursive;
}

.font-size-medium{

    font-size: 2em;
}